# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.DS_Store
.DS_Store

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Tic tac Toe.ai
*.pdf
*.png
Giorno Giovana.psd
GOTM/GOTM 9-20.psd
lily and her adventures.psd
Metroid Fusion Suit.psd
Practice Art/PA 23-09-2020.psd
Practice Art/PA 27-09-2020.psd
Practice Art/PA 29-08-2020.psd
Inktober 2020/Day 01 - Fish.psd
Inktober 2020/Day 02 - Wisp.psd
Inktober 2020/Day 03 - Bulk.psd
Inktober 2020/Day 04 - Prey.psd
Inktober 2020/Day 05 - Blade.psd
Lily/Untitled-1.psd
Practice Art/PA 30-09-2020.psd
Lily/shteamboat character 1 (closed)_0000_Layer 6.jpg
Lily/shteamboat character 1 (closed)_0001_Layer 7.jpg
Lily/shteamboat character 1 (closed)_0002_Layer 1.jpg
Lily/shteamboat character 1 (closed)_0003_Layer 5.jpg
Lily/shteamboat character 1 (closed)_0004_Layer 2.jpg
Lily/shteamboat character 1 (closed)_0005_Layer 3.jpg
Lily/shteamboat character 1 (closed)_0006_Layer 4.jpg
Lily/shteamboat character 1 (closed)_0007_rough sketch.jpg
Lily/shteamboat character 1 (closed)_0008_.jpg
Lily/shteamboat character designs.psd
Lily/shteamboat character designs_0000_Layer 6.jpg
Lily/shteamboat character designs_0001_Layer 7.jpg
Lily/shteamboat character designs_0002_Layer 1.jpg
Lily/shteamboat character designs_0004_Layer 2.jpg
Lily/shteamboat character designs_0005_Layer 3.jpg
Lily/shteamboat character designs_0006_Layer 4.jpg
Kaladin Stormblessed.psd
